git+https://github.com/Rapptz/discord.py
git+https://github.com/Gorialis/jishaku
git+https://github.com/jay3332/magmatic
git+https://github.com/jay3332/async-google-trans-new
aiohttp
asyncpg
beautifulsoup4
dateparser
fontTools
maturin
lxml
Pillow
pilmoji
psutil
python-dotenv
pytz
quart
tabulate
